.add_product
{
    position: relative;
    background-color: #FFF;
    filter: drop-shadow(10px 10px 20px #6f7071);
}
.header
{
    display: flex;
    background-color: #dee1e3;
    justify-content: space-between;
}
.close
{
    position: relative;
    font-size: 1.5rem; 
}

.close a i
{
    color: rgb(91, 6, 6);
}
.close a i:hover
{
    color: rgb(156, 29, 29);
    font-size: 2rem;
}

.form
{
    margin: 1rem;
}
.information
{
    width: 100%;
    margin-right: 1rem;
}
.btn
{
    display: flex;
   justify-content: center;
}
.btn button
{
    width: 7rem;
    margin: 1rem;
}