<div class="container">
  <div class="name">
    <label>{{pro.pro_Name}}</label>
  </div>
  <div class="img">
    <div class="main-img">
      <img [src]="currentImg.url" alt="">
    </div>
    <div class="controll">
      <div class="pre-controll" (click)="Pre()"><i class="bi bi-chevron-left"></i></div>
      <div class="next-controll" (click)="Next()"><i class="bi bi-chevron-right"></i></div>
    </div>
    <div class="listImg" >
      <div *ngFor="let item of ListImg" (click)="Pick(item)">
        <img  [src]="item.url" alt="">
      </div>
    </div>
  </div>
  <div class="des">{{pro.pro_Describe}}</div>
  <div class="buy">
    <p style="text-decoration: line-through;" ng *ngIf="pro.pro_Discount!=0">Giá Cũ : {{pro.pro_Price.toLocaleString ('vi-VN', {style: 'currency', currency: 'VND'})}}</p>
    <p ng *ngIf="pro.pro_Discount==0">Giá : {{pro.pro_Price.toLocaleString ('vi-VN', {style: 'currency', currency: 'VND'})}}</p>
    <p style="color: rgb(160, 0, 0);" ng *ngIf="pro.pro_Discount!=0"> Giá Mới : {{(pro.pro_Price - (pro.pro_Discount/100*pro.pro_Price)).toLocaleString ('vi-VN', {style: 'currency', currency: 'VND'})}}</p>
    <div>
      <button type="button" class="btn btn-outline-primary" (click)="AddToCart(pro.pro_id)">
        Add to cart
        <i class="bi bi-cart-plus"></i>
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="BuyNow(pro.pro_id)">Buy Now</button>
    </div>
  </div>
</div>
