.container
{
    width: 80%;
    margin-left: 10%;
    display: grid;
   
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 450px 100px;
    grid-template-areas: "header header"
                            "img buy"
                            "des buy";
                            gap: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
.name
{
    grid-area: header;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    border-bottom: 2px black solid;
    text-align: start;
    align-items: center;

}
.name label
{
  
    bottom: 10px;
}
.img
{
    grid-area: img;
    border: 1px solid black;
    /* display: grid; */
    /* grid-template-columns:80% 15%;
    grid-template-rows: 100% ; */
    /* gap: 2.5%; */
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
.controll
{
    width: 100%;
    position: absolute;
    top: 30%;
    color: #000000;
    display: flex;
    font-size: 40px;
    
}
.pre-controll
{
    position: absolute;

    left: 10px;
}
.next-controll
{
    position: absolute;

    right: 10px;
   
}
.main-img
{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    background-color: #ffffff;
}
.main-img img{
    width: 60%;
    height: 100%;
}
.listImg
{
    width: 100%;
    height: 18%;

    display: flex;
    justify-content: center;
    column-gap: 5px; 

    margin-top: 1%;
}
.listImg div
{

    border: 1px solid black;
}
.listImg img
{
    width: 100%;
    height: 100%;
}
.listImg div :hover
{
    cursor: pointer;
}
.buy
{
    position: relative;
 
    border: 1px solid black;
    grid-area: buy;
    text-align: center;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.des
{
    border: 1px solid black;
    grid-area: des;
}
.buy div
{
    width: 100%;
    position: absolute;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.buy div button
{
    border: none;
    border-radius: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom: 5px;
    margin-top: 10px;
    justify-content: center;
}