<div class="CustomerInfor" [formGroup]="InFormationForm" >
    <h1>Thêm địa chỉ</h1>
     <div>
      <mat-form-field class="example-form" >
        <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="Name" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-form" >
        <mat-label>Phone Number</mat-label>
          <input type="text" matInput formControlName="phoneNumber" required>
      </mat-form-field>
    </div>
    <div class="input-group mb-1 example-form">
      <label class="input-group-text" for="inputGroupSelect01">Tỉnh/Thành Phố</label>
      <select formControlName="province" class="form-select" (change)="Tinh()" required id="inputGroupSelect01">
        <option *ngFor="let i of ListCity" value={{i.id}}>{{i.name}}</option>
      </select>
    </div>
    <div class="input-group mb-1 example-form" >
      <label class="input-group-text" for="inputGroupSelect02">Huyện/Quận</label>
      <select formControlName="district" (change)="Huyen()" class="form-select" required id="inputGroupSelect02">
       
        <option *ngFor="let i of ListHuyen" value={{i.id}}>{{i.name}}</option>
      </select>
    </div>
    <div class="input-group mb-1 example-form">
      <label class="input-group-text" for="inputGroupSelect03">Xã/Thị Trấn</label>
      <select formControlName="town" class="form-select" (change)="XA()" required id="inputGroupSelect03">
        <option *ngFor="let i of ListXa" value={{i.id}}>{{i.name}}</option>
      </select>
    </div>
    <div>
      <mat-form-field class="example-form" >
        <mat-label>Địa chỉ cụ thể</mat-label>
          <input type="text" matInput formControlName="streetNumber" >
      </mat-form-field>
    </div>
    <div class="btn">
      <button mat-button color="primary" (click)="SaveLocation()">Save</button>
      <button mat-button color="warn">Cancel</button>
    </div>
  </div>
