<div class="card text-center" style="width: 50%; margin-left: 20%;">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link black" routerLink="/login" routerLinkActive="active"  href="">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
      </li>
    </ul>
  </div>
  <div id="router" class="card-body">
    <router-outlet></router-outlet>

  </div>
</div>


